<div class="row no-gutters">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header h4 text-center">Skompletuj Twoje zamówienie</div>
      <div class="card-body">


        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of partCatalog" (click)="togglePart(p)" [ngClass]="{'bg-info': p.selected}">
              <td> {{p.id}}</td>
              <td> {{p.name}}</td>
              <td> {{p.price}} --> {{p.selected}}</td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="card-footer">
        Podsumowanie zamówienia: artykułów: koszt:
        <button class="btn btn-outline-success">Suma...</button>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>

</div>
