<div class="row no-gutters">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center" style="padding-top: 5%">
    <h1> Sunny day </h1>
    <img class="img-fluid" src="assets/mL.png" (click)="set_champion('Sunny day')">
    <h3> Fun Page</h3>
    <p> (coming soon..)</p>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header"> header</div>
      <div class="card-body">
        champion: {{my_champion}} <br>
        user: {{user}}
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-info" (click)="doIt()">Nasus
        </button>
        <button class="btn btn-outline-info" (click)="set_champion('Jax')">Jax </button>
        <button class="btn btn-outline-info" (click)="set_champion('Veigar')">Veigar </button>
        <button class="btn btn-outline-info" (click)="set_champion('Morgana')">Morgana </button>
        <button class="btn btn-outline-info" (click)="set_champion('Lux')">Lux </button>

        <form>
          <div class="form-group row">
            <label for="edit_champion" class="col-sm-4 col-form-label">Custom champion</label>
            <div class="col-sm-8">
              <input type="text" class="form-control"
                     id="edit_champion"
                     name="edit_champion" placeholder="(champion)"
                     [(ngModel)]="new_champion">

              <button class="btn btn-outline-info" (click)="update_champion()">Set champion</button>


            </div>
          </div>

        </form>

      </div>

    </div>

    <div class="card">
      <div class="card-header">Sprawdzanie parzystości</div>
      <form>
        <div class="form-group row">
          <label for="liczba" class="col-sm-4 col-form-label">Custom champion</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
                   id="liczba"
                   name="edit_champion" placeholder="(podaj liczbę)"
                   [(ngModel)]="liczba">

            <button class="btn btn-outline-info" (click)="check_parity()">Check parity</button>


          </div>
        </div>

      </form>
    </div>
    <div class="card-footer"></div>
  </div>

</div>

