<div class="row no-gutters">
  <div class="col-md-4 boxed"></div>
  <div class="col-md-4 text-center boxed" style="padding-top: 5%">
    <h1> Sunny day </h1>
    <img class="img-fluid" src="assets/mL.png">
    <h3> Fun Page</h3>
    <p> (coming soon..)</p>
  </div>

  <div class="col-md-4 boxed p-1">
    <div class="card">
      <div class="card-header"> header</div>
      <div class="card-body">
        champion: {{my_champion}}
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-info"
                (click)="doIt()">Change champion
        </button>
      </div>

    </div>

  </div>
</div>

