<div class="row no-gutters">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header h4">Komentarze
        <button class="btn btn-outline-info float-md-right" (click)="load_comments()">(reload)</button>

      </div>
      <div class="card-body">
        <p>
          <button class="btn btn-outline-info" (click)="previous()"> < </button>
          <span>Page {{start / pageSize + 1}} / {{max_page()}}</span>
          <button class="btn btn-outline-info float-md-right" (click)="next()"> > </button>
        </p>
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead>
            <tr>
              <!-- todo: kolumny mają być stabilne-->
              <th width="5%"> post</th>
              <th width="5%"> id</th>
              <th width="30%" (click)="sort_by_name()"> name</th>
              <th width="30%"> email</th>
              <th width="30%"> body</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of commentsView">
              <td>{{c.postId}}</td>
              <td>{{c.id}}</td>
              <td>{{c.name}}</td>
              <td>{{c.email}}</td>
              <td [title]="c.body">{{c.body.substr(0,40)}}</td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

